<article class="project-summary">
    <a href="{{ .RelPermalink }}">
        {{ with .Resources.GetMatch "*thumbnail*" }}
            <img src="{{ .RelPermalink }}" alt="Thumbnail" loading="lazy" />
        {{ end }}
    </a>
    <section class="content">
        <h2><a class="link-hidden" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Summary }}
    </section>
    {{ range first 2 (.Resources.Match "*screenshot*") }}
    <a href="{{ .RelPermalink }}">
        <img src="{{ .RelPermalink }}" alt="Screenshot from {{ .Title }}" loading="lazy" />
    </a>
    {{ end }}
</article>