





{{ define "header" }}
    <a href="#portfolio">Portfolio</a>
    <a href="#projects">Projects</a>
    <a href="#about">About</a>
{{ end }}

{{ define "main" }}
    {{ $old := "" }}
    {{ range .Pages }}
        {{ $new := .Type }}    
        {{ if ne $old $new }}
            <h1 id={{$new}}>{{ strings.FirstUpper $new }}</h1>
        {{ end }}
        {{ $old = $new}}

  
        {{ .Render "summary" }}
    {{ end }}


    <h1 id="about">About</h1>
    <section class="content">
        {{ .Content }}
    </section>
{{ end }}

{{ define "footer" }}
    <i>
        I am part of The Game Assembly's internship program. As per the agreement 
        between the Games Industry and The Game Assembly, neither student nor company 
        may be in contact with one another regarding internships before April 23th.
        Any internship offers can be made on May 5th, at the earliest.
    </i>
{{ end }}