{{ define "main" }}
<main class="pad_top_xl pad_bot_xxl pad_lft_xxs pad_rgt_xxs">
    <section class="markdown">
        {{ .Content }}
    </section>
</main>
{{ end }}

{{ define "footer" }}
<footer class="line_top">
    <nav class="flex-row flex-fill pad_bot_xs pad_top_xxs">
        {{ with .PrevInSection }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }} </a>
        {{ end }}
        {{ with .NextInSection }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ end }}
    </nav>
</footer>
{{ end }}