@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


html {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

body {
  background-color: #f5f5f5;
  box-sizing: border-box;
  display: flex;
  font-family: 'JetBrains Mono', 'monospace';
  flex-direction: column;
  margin: 0;
  max-width: 650px;
  min-height: 100vh;
  padding: 8px;
}



header div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

@media screen and (min-width: 600px) {
  header div {
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
  }
}

header div h1 {
  margin: 0;
}

header div h2 {
  margin: 0;
}

header div h2 ul {
  align-items: baseline;
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}



footer {
  margin: auto 8px 20px 8px;
}