/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
img {
    object-fit: scale-down;
}




:root {    
    --neutral-100: #fafafa;
    --neutral-200: #cacaca;
    --neutral-400: #ccc;
    --neutral-500: #b3b3b3;
    --neutral-600: #777;
    --neutral-700: #2c2c2c;
    --neutral-800: #171717;
    --neutral-900: #101010;

    --xxs: 0.375rem;
    --xs: 0.75rem;
    --s: 1.5rem;
    --m: 3rem;
    --l: 6rem;
    --xl: 12rem;
    --xxl: 24rem;
    color: var(--neutral-200);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(0.7em + 0.4vw);
    line-height: 1.55;
    scroll-behavior: smooth;
}
:target {
    scroll-margin-top: var(--xl);
}



html {
    scrollbar-gutter: stable;
}

body {
    max-width: 78ch;
    min-height: 100vh;
    background-color: var(--neutral-900);
    margin: auto auto;
}



/** basic formatting **/
a {
    color: var(--neutral-100);
    text-decoration: none;
}

a:not(.hide_underline):hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--neutral-100);
    line-height: 1;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.875rem;
    font-weight: 600;
}

video {
    width: 100%;
    aspect-ratio: 16 / 9;
}




/** components **/

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-fill
{
    justify-content: space-between;
}


.gap_xxs {
    gap: var(--xxs);
}
.gap_xs {
    gap: var(--xs);
}
.gap_s {
    gap: var(--s);
}
.gap_m {
    gap: var(--m);
}
.gap_l {
    gap: var(--l);
}
.gap_xl{
    gap: var(--xl);
}
.gap_xxl{
    gap: var(--xxl);
}

.bg_neutral_100
{
    background-color: var(--neutral-100);
}
.bg_neutral_200
{
    background-color: var(--neutral-200);
}
.bg_neutral_400
{
    background-color: var(--neutral-400);
}
.bg_neutral_500
{
    background-color: var(--neutral-500);
}
.bg_neutral_600
{
    background-color: var(--neutral-600);
}
.bg_neutral_700
{
    background-color: var(--neutral-700);
}
.bg_neutral_800
{
    background-color: var(--neutral-800);
}
.bg_neutral_900
{
    background-color: var(--neutral-900);
}


.sticky_top {
    position: sticky;
    top: 0;
}

.line_bot {
    border-bottom: 1px solid var(--neutral-700);
}
.line_top {
    border-top: 1px solid var(--neutral-700);
}





/** content **/
/* .markdown > p {
    margin: 20px 0;
}
.markdown > ul {
    margin: 20px 0 20px var(--s);
}

.markdown > h1:not(:first-child),
.markdown > h2:not(:first-child),
.markdown > h3:not(:first-child) {
    margin: 124px 0 16px 0;
}

.markdown > h2 + h3 {
    margin-top: 64px;
}

.markdown > p:first-child,
.markdown > h1 + p,
.markdown > h2 + p,
.markdown > h3 + p,
.markdown > h1 + ul,
.markdown > h2 + ul,
.markdown > h3 + ul {
    margin-top: 0;
} */
.markdown > h2 {
    margin-top: 4rem;
}
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6 {
    margin-top: 2rem;
}

.markdown > p {
    margin-top: 1rem;
}
.markdown > a video, 
.markdown > p a video, 
.markdown > p a img {
    margin-top: 0.5rem;
}


/* .markdown > p:last-child {
    margin-bottom: 0;
} */

.markdown p a, .markdown li a {
    color: #178a9c;
    font-weight: 600;
}

.markdown ol, .markdown ul {
    margin-left: 2rem;
}



/** navbar **/
.navbar-entry a {
    color: var(--neutral-500);
    transition: all 200ms ease-in-out;
}

.active a {
    color: var(--neutral-100);
}




/** codebox generated by highlight.js **/
@font-face {
    font-family: 'JetBrainsMono Regular';
    src: url(/JetBrainsMono-Regular.woff2);
}

.highlight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

pre:has(code) {
    font-size: 13px;
    padding: var(--xs);
    overflow-x: scroll;
}

code {
    font-family: 'JetBrainsMono Regular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}










/** padding and margin utilities **/
.pad_xxs {
    padding: var(--xxs);
}
.pad_xs {
    padding: var(--xs);
}
.pad_s {
    padding: var(--s);
}
.pad_m {
    padding: var(--m);
}
.pad_l {
    padding: var(--l);
}
.pad_xl {
    padding: var(--xl);
}
.pad_xxl {
    padding: var(--xxl);
}

.pad_top_xxs {
    padding-top: var(--xxs);
}
.pad_top_xs {
    padding-top: var(--xs);
}
.pad_top_s {
    padding-top: var(--s);
}
.pad_top_m {
    padding-top: var(--m);
}
.pad_top_l {
    padding-top: var(--l);
}
.pad_top_xl {
    padding-top: var(--xl);
}
.pad_top_xxl {
    padding-top: var(--xxl);
}


.pad_rgt_xxs {
    padding-right: var(--xxs);
}
.pad_rgt_xs {
    padding-right: var(--xs);
}
.pad_rgt_s {
    padding-right: var(--s);
}
.pad_rgt_m {
    padding-right: var(--m);
}
.pad_rgt_l {
    padding-right: var(--l);
}
.pad_rgt_xl {
    padding-right: var(--xl);
}
.pad_rgt_xxl {
    padding-right: var(--xxl);
}

.pad_bot_xxs {
    padding-bottom: var(--xxs);
}
.pad_bot_xs {
    padding-bottom: var(--xs);
}
.pad_bot_s {
    padding-bottom: var(--s);
}
.pad_bot_m {
    padding-bottom: var(--m);
}
.pad_bot_l {
    padding-bottom: var(--l);
}
.pad_bot_xl {
    padding-bottom: var(--xl);
}
.pad_bot_xxl {
    padding-bottom: var(--xxl);
}

.pad_lft_xxs {
    padding-left: var(--xxs);
}
.pad_lft_xs {
    padding-left: var(--xs);
}
.pad_lft_s {
    padding-left: var(--s);
}
.pad_lft_m {
    padding-left: var(--m);
}
.pad_lft_l {
    padding-left: var(--l);
}
.pad_lft_xl {
    padding-left: var(--xl);
}
.pad_lft_xxl {
    padding-left: var(--xxl);
}




.mgn_xxs {
    margin: var(--xxs);
}
.mgn_xs {
    margin: var(--xs);
}
.mgn_s {
    margin: var(--s);
}
.mgn_m {
    margin: var(--m);
}
.mgn_l {
    margin: var(--l);
}
.mgn_xl {
    margin: var(--xl);
}
.mgn_xxl {
    margin: var(--xxl);
}

.mgn_top_xxs {
    margin-top: var(--xxs);
}
.mgn_top_xs {
    margin-top: var(--xs);
}
.mgn_top_s {
    margin-top: var(--s);
}
.mgn_top_m {
    margin-top: var(--m);
}
.mgn_top_l {
    margin-top: var(--l);
}
.mgn_top_xl {
    margin-top: var(--xl);
}
.mgn_top_xxl {
    margin-top: var(--xxl);
}


.mgn_rgt_xxs {
    margin-right: var(--xxs);
}
.mgn_rgt_xs {
    margin-right: var(--xs);
}
.mgn_rgt_s {
    margin-right: var(--s);
}
.mgn_rgt_m {
    margin-right: var(--m);
}
.mgn_rgt_l {
    margin-right: var(--l);
}
.mgn_rgt_xl {
    margin-right: var(--xl);
}
.mgn_rgt_xxl {
    margin-right: var(--xxl);
}

.mgn_bot_xxs {
    margin-bottom: var(--xxs);
}
.mgn_bot_xs {
    margin-bottom: var(--xs);
}
.mgn_bot_s {
    margin-bottom: var(--s);
}
.mgn_bot_m {
    margin-bottom: var(--m);
}
.mgn_bot_l {
    margin-bottom: var(--l);
}
.mgn_bot_xl {
    margin-bottom: var(--xl);
}
.mgn_bot_xxl {
    margin-bottom: var(--xxl);
}

.mgn_lft_xxs {
    margin-left: var(--xxs);
}
.mgn_lft_xs {
    margin-left: var(--xs);
}
.mgn_lft_s {
    margin-left: var(--s);
}
.mgn_lft_m {
    margin-left: var(--m);
}
.mgn_lft_l {
    margin-left: var(--l);
}
.mgn_lft_xl {
    margin-left: var(--xl);
}
.mgn_lft_xxl {
    margin-left: var(--xxl);
}



