/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
img {
    object-fit: scale-down;
}






:root {
    --color-white-80: #fafafa;
    --color-white-40: #474747;
    --color-white-20: #242424;
    --pad1: 0.75rem;
    --pad2: 1.5rem;
    --pad3: 3rem;
    color: var(--color-white-40);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.75;
}





html {
    scrollbar-gutter: stable;
}

body {
    background-color: var(--color-white-80);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: calc(90ch + var(--pad3) * 2);
    min-height: 100vh;
    overflow: scroll;
    padding: 0;
    width: calc(100% - var(--pad3));
    --webkit-font-smoothing: antialiased;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

header {
    align-items: end;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

hr {
    color: var(--color-white-40);
}

ul {
    margin-left: calc(var(--pad2) * 2.5);
}


/** text **/
h1, h2, h3, h4, h5, h6, a {
    color: var(--color-white-20)
}

p {
    margin: 20px 0
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
}






/** hamburger menu **/
#title {
    z-index: 20;
}

#menu-nav {
    align-items: baseline;
    display: grid;
    column-gap: var(--pad2);
    grid-auto-flow: column;
    z-index: 10;
}

#menu-hamburger {
    position: relative;
    z-index: 20;
}

#menu-hamburger span {
    background-color: var(--color-white-20);
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
}

#menu-hamburger input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
    opacity: 0.01;
    z-index: 30;
}

@media screen and (min-width: 700px) {
    #menu-hamburger {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #menu-nav {
        grid-auto-flow: row;
        display: none;
    }

    header:has(#menu-checkbox:checked) #menu-nav {
        display: grid;
        margin-top: var(--pad2);
    }

    header:has(#menu-checkbox:checked) #menu-bg {
        background-color: var(--color-white-80);
        height: 100%;
        left: 0;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
}



/** components **/
.link-hidden {
    text-decoration: none;
}

.display-single {
    display: grid;
    gap: var(--pad3);
    margin: var(--pad2) 0;
}

.display-double {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--pad1);
    margin: var(--pad2) 0;
}

.project-summary {
    display: grid;
    column-gap: var(--pad2);
    grid-template-areas: 
        "content screenshot1"
        "content screenshot2";
    grid-template-columns: 1fr 1fr;
    gap: var(--pad1);
    justify-content: space-between;
}

.project-summary section {
    background-color: beige;
    border-radius: var(--pad1);
    padding: var(--pad1);
    grid-area: content;
}
.project-summary a:nth-of-type(1) {
    grid-area: screenshot1;
}
.project-summary a:nth-of-type(2) {
    grid-area: screenshot2;
}

.project-summary:nth-child(odd) {
    grid-template-areas: 
        "screenshot1 content"
        "screenshot2 content";
}

/** rounded corners **/
img {
    border-radius: 0.75rem;
}