/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
img {
    object-fit: scale-down;
}

@font-face {
    font-family: 'JetBrainsMono Regular';
    src: url(/JetBrainsMono-Regular.woff2);
  }


:root {    
    --neutral-100: #fafafa;
    --neutral-200: #cacaca;
    --neutral-400: #ccc;
    --neutral-500: #b3b3b3;
    --neutral-600: #777;
    --neutral-800: #171717;
    --neutral-900: #101010;

    --xxs: 0.375rem;
    --xs: 0.75rem;
    --s: 1.5rem;
    --m: 3rem;
    --l: 6rem;
    --xl: 12rem;
    --xxl: 24rem;
    color: var(--neutral-200);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(0.7em + 0.4vw);
    line-height: 1.55;
    scroll-behavior: smooth;
}





html {
    scrollbar-gutter: stable;
}

body {
    max-width: 75ch;
    min-height: 100vh;
    background-color: var(--neutral-900);
    padding: var(--pad1);
    margin: auto auto;
}



/** basic formatting **/
a {
    color: var(--neutral-100);
    text-decoration: none;
}

a:not(header > a):hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--neutral-100);
    line-height: 1;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.35rem;
}

video {
    width: 100%;
    aspect-ratio: 16 / 9;
}








/** components **/
.grid-column {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


.gap_xxs {
    gap: var(--xxs);
}
.gap_xs {
    gap: var(--xs);
}
.gap_s {
    gap: var(--s);
}
.gap_m {
    gap: var(--m);
}
.gap_l {
    gap: var(--l);
}
.gap_xl{
    gap: var(--xl);
}
.gap_xxl{
    gap: var(--xxl);
}




/** content **/
.content > p {
    margin: 20px 0;
}
.content > ul {
    margin: 20px 0 20px var(--pad2);
}

.content > h1:not(:first-child),
.content > h2:not(:first-child),
.content > h3:not(:first-child) {
    margin: 124px 0 16px 0;
}

.content > h2 + h3 {
    margin-top: 64px;
}

.content > p:first-child,
.content > h1 + p,
.content > h2 + p,
.content > h3 + p,
.content > h1 + ul,
.content > h2 + ul,
.content > h3 + ul {
    margin-top: 0;
}

.content > p:last-child {
    margin-bottom: 0;
}

.content p a, .content li a {
    color: #178a9c;
    font-weight: 600;
}

.content ol {
    margin-left: 32px;
}





/** misc **/
#navbar {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px) grayscale(70%);
    justify-content: space-between;
    padding: 16px 16px;
}