/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}




:root {
    --color-bg: #fafafa;
    --color-fg: #242424;
    --border-radius: 10px;
    --padd1: 1.5rem;
    --padd2: calc(var(--padd1) * 2);
}

html {
    background-color: var(--color-bg);
    box-sizing: border-box;
    color: var(--color-fg);
    font-family: Verdana;
    line-height: 1.9;
    min-height: 100vh;
    overflow: scroll;
}

body {
    display: grid;
    gap: var(--padd2);
    margin: var(--padd2) auto;
    max-width: 1044px;
    width: calc(100% - var(--padd2));
    --webkit-font-smoothing: antialiased;
}

header {
    align-items: baseline;
    display: grid;
    gap: 15px 15px;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

nav {
    align-items: baseline;
    display: grid;
    column-gap: 20px;
    grid-auto-flow: column;
}

main {
    display: grid;
    gap: var(--padd2);
}

a {
    color: var(--color-yellow);
}

ul {
    margin-left: calc(var(--padd1) * 2.5);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
}

img {
    object-fit: scale-down;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 5px #000000;
}

.link-hidden {
    text-decoration: none;
}

.pageline {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--color-fg);
}

.article {
    display: grid;
    gap: var(--padd1);
}

.card-list {
    display: grid;
    gap: var(--padd2);
}

.card-project {
    display: grid;
    grid-auto-flow: row;
}

.card-project section {
    display: grid;
    column-gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-content: space-between;    
}

footer {
    display: grid;
    gap: var(--padd1);
    text-align: center;
}