/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
img {
    object-fit: scale-down;
}

@font-face {
    font-family: 'JetBrainsMono Regular';
    src: url(/JetBrainsMono-Regular.woff2);
  }


:root {    
    --neutral-100: #fafafa;
    --neutral-200: #cacaca;
    --neutral-400: #ccc;
    --neutral-500: #b3b3b3;
    --neutral-600: #777;
    --neutral-800: #171717;
    --neutral-900: #101010;

    --pad0: 0.375rem;
    --pad1: 0.75rem;
    --pad2: 1.5rem;
    --pad3: 3rem;
    --pad4: 6rem;
    --pad5: 12rem;
    --pad6: 24rem;
    color: var(--neutral-800);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(0.7em + 0.4vw);
    line-height: 1.55;
    scroll-behavior: smooth;
}





html {
    scrollbar-gutter: stable;
}

body {
    max-width: 75ch;
    min-height: 100vh;
    background-color: var(--neutral-100);
    padding: var(--pad1);
    margin: auto auto;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}




/** basic formatting **/
a {
    color: var(--neutral-900);
    text-decoration: none;
}

a:not(header > a):hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--neutral-900);
    line-height: 1;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.35rem;
}

video {
    width: 100%;
    aspect-ratio: 16 / 9;
}








/** components **/
.grid-column {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.gap0 {
    gap: var(--pad0);
}
.gap1, .gap {
    gap: var(--pad1);
}
.gap2 {
    gap: var(--pad2);
}
.gap3 {
    gap: var(--pad3);
}
.gap4 {
    gap: var(--pad4);
}
.gap5{
    gap: var(--pad5);
}
.gap6{
    gap: var(--pad6);
}