{{ define "main" }}
    <div id="about">
        <section class="content">
            {{ .Content }}
            <h2>Contact</h2>
            <ul>
                <li><a href="mailto:ivar@sidorsson.com">ivar@sidorsson.com</a></li>
                <li><a href="/Ivar%20Sidorsson%20Resume.pdf">Resume</a></li>
                <li><a href="https://www.linkedin.com/in/ivar-sidorsson/">LinkedIn</a></li>
                <li><a href="https://github.com/fluffy-kalashnikov">GitHub</a></li>
            </ul>
        </section>
        <p>
            I am part of The Game Assembly’s internship program. As per the agreement between the Game Industry 
            and The Game Assembly, neither student nor company may be in contact with one another regarding 
            internships before April 23rd. Any internship offers can be made on May 6th, at the earliest.    
        </p>
        {{ with .Resources.Get "ivar-sidorsson.webp" }}
            <img src="{{ .RelPermalink }}">
        {{ end }}
    </div>
{{ end }}