<header>
    <a class="link-hidden" href="{{ .Site.Home.RelPermalink }}">
        <img src="/fluffy-kalashnikov.png" width=48px height=48px>
        <h2>Ivar Sidorsson</h2>
        <p>Technical Artist + Game Programmer</p>
    </a>
    <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main.ByWeight }}
            {{ if ne .URL "/" }}
                {{ if $currentPage.IsMenuCurrent .Menu . }}
                    <h3><a class="active" aria-current="page" href="{{ .URL }}">{{ .KeyName }}</a></h3>
                {{ else }}
                    <h3><a href="{{ .URL }}">{{ .KeyName }}</a></h3>
                {{ end }}
            {{ end }}
        {{ end }}
    </nav>
    <div id="menu-btn">
        <span></span>
        <span></span>
        <span></span>
        <input type="checkbox">
    </div>
</header>