<header>
    <a href="{{ .Site.Home.RelPermalink }}">
        <img src="/fluffy-kalashnikov.png">
        <h2>Ivar Sidorsson</h2>
        <p>Technical Artist</p>
    </a>
    <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main.ByWeight }}
            {{ if ne .URL "/" }}
                {{ if $currentPage.IsMenuCurrent .Menu . }}
                    <h3><a class="nav-active" aria-current="page" href="{{ .URL }}">{{ .KeyName }}</a></h3>
                {{ else }}
                    <h3><a class="nav-inactive" href="{{ .URL }}">{{ .KeyName }}</a></h3>
                {{ end }}
            {{ end }}
        {{ end }}
    </nav>

    <div id="hamburger-btn">
        <span></span>
        <span></span>
        <span></span>
        <button popovertarget="popover-nav" id="popover-btn"></button>
    </div>
    <div popover="manual" id="popover-nav">
        <ul>
            {{ range .Site.Menus.main.ByWeight }}
                {{ if $currentPage.IsMenuCurrent .Menu . }}
                    <li><h2><a class="nav-active" aria-current="page" href="{{ .URL }}">{{ .KeyName }}</a></h2></li>
                {{ else }}
                    <li><h2><a class="nav-inactive" href="{{ .URL }}">{{ .KeyName }}</a></h2></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</header>