<article>
    <div class="flex-col">
        <a href="{{ .RelPermalink }}" >
        {{ with .Resources.Get "summary.webm" }}
            <video autoplay muted loop poster>
                <source src="{{ .RelPermalink }}" type="video/webm">
                Your browser does not support the video tag.
            </video>
        {{ end }}
        </a>
        <a href="{{ .RelPermalink }}" class="mgn_top_xs"><h2>{{ .Title }}</h2></a>
        <p class="mgn_top_xxs">{{ .Summary }}</p>
    </div>
</article>