<article>
    <div class="flex-col">
        <a href="{{ .RelPermalink }}" >
        {{ with .Resources.Get "summary.webm" }}
            <video class="autoplay-video" autoplay muted loop playsinline> 
                <source src="{{ .RelPermalink }}" type="video/webm">
                Your browser does not support the video tag.
            </video>
        {{ end }}
        </a>
        <h2 class="mgn_top_xs"><a href="{{ .RelPermalink }}" >{{ .Title }}</a></h2>
        <p class="mgn_top_xxs">{{ .Summary }}</p>
    </div>
</article>